.modal-profile{
    
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
   

}
.modal{
    background: hsla(0, 0%, 40%, .6);
    
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
}
.edit-card{
    padding: 4rem 2rem;
    

 
	border-radius: 1rem;
	border: 1px solid transparent;
	backdrop-filter: blur(1rem);
	border-top-color: rgba(255, 255, 255, 0.5);
	border-left-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-right-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
  
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}

.inputbox4  textarea{
    width: 80%;
    margin-bottom: 3.5rem;
  }
  .inputbox4  select{
    width: 80%;
    margin-bottom: 3.5rem;
  }
  .inputbox4 input {
    width: 80%;
    margin-bottom: 3.5rem;
  }
  
  .inputbox4 i {
    position: absolute;
    right: 6%;
  
    font-size: 1.2em;
    top: 20px;
  }

.btn-profile {
    border: none;
    padding: 7px 30px;
    font-size: 1.5rem;
    position: relative;
    background: transparent;
    color: white;
    text-transform: uppercase;
    border: 3px solid white;
    cursor: pointer;
    transition: all 0.7s;
    overflow: hidden;
   
  }

  .btn-profile:hover {
    color:black;
  }
  span {
    transition: all 0.7s;
    z-index: -1;
  }

  .btn-profile .first {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 25%;
    height: 100%;
    
    background: white;
  }

  .btn-profile:hover .first {
    top: 0;
    right: 0;
  }
  .btn-profile .second {
    content: "";
    position: absolute;
    left: 25%;
    top: -100%;
    height: 100%;
    width: 25%;
    background: white;
  }

  .btn-profile:hover .second {
    top: 0;
    left: 50%;
  }

  .btn-profile .third {
    content: "";
    position: absolute;
    left: 50%;
    height: 100%;
    top: 100%;
    width: 25%;
    background: white;
  }

  .btn-profile:hover .third {
    top: 0;
    left: 25%;
  }

  .btn-profile .fourth {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 25%;
    background: white;
  }

  .btn-profile:hover .fourth {
    top: 0;
    left: 0;
  }

  @media (max-width:"500px"){
    .card{
        width:auto
    }
}