footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li Link{
    padding: 1em; 
    text-decoration: none;
  
    transition: 100ms;
}
footer ul li Link:hover{
    color: var(--primary);
}

footer{
    width: 100%;
   
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}



/* Sticky Footer Styling */


