.my-carousel {
    max-width: 1300px; /* Adjust the width as needed */
    margin: auto;
    margin-top: 20px; /* Adjust the top margin as needed */
  }
  
  .my-carousel .d-block {
    height: 550px; /* Set the desired height for the images */
    width: auto; /* Maintain the aspect ratio */
  }