* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  main .table {
    width: 82vw;
  
    background-color: #fff5;
  
    backdrop-filter: blur(7px);
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 0.8rem;
  
    overflow: hidden;
  }
  
  .table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 0.8rem 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
  
    margin: 0.8rem auto;
    border-radius: 0.6rem;
  
    overflow: auto;
    overflow: overlay;
  }
  
  .table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  .table__body::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
  }
  
  .table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  
  table {
    width: 100%;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
  }
  
  thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
  }
  
  tbody tr:nth-child(even) {
    background-color: #0000000b;
  }
  
  tbody tr {
    --delay: 0.1s;
    transition: 0.5s ease-in-out var(--delay), background-color 0s;
  }
  
  tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
  }
  
  tbody tr:hover {
    background-color: #fff6 !important;
  }
  
  tbody tr td,
  tbody tr td p,
  tbody tr td img {
    transition: 0.2s ease-in-out;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: 0.2s ease-in-out 0.5s;
  }
  
  @media (max-width: 1000px) {
    td:not(:first-of-type) {
      min-width: 12.1rem;
    }
  }
  
  thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
  
    text-align: center;
    font-size: 1rem;
  
    margin-left: 0.5rem;
    transition: 0.2s ease-in-out;
  }
  
  thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
  }
  
  thead th:hover {
    color: #6c00bd;
  }
  
  thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
  }
  
  thead th.asc span.icon-arrow {
    transform: rotate(180deg);
  }
  
  thead th.active,
  tbody td.active {
    color: #6c00bd;
  }

