@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}


.title {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  text-align: center;
}

.cat {
  padding: 4rem 2rem;
  
  max-width: 30rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
 
 
  background-color: rgba(0, 0, 0, 0.1);

  
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}

.tilt {
  padding: 0;
  margin: 0;
  background: none;
}

.inputbox input {
  width: 80%;
  margin-bottom: 3.5rem;
}

.inputbox i {
  position: absolute;
  right: 8px;

  font-size: 1.2em;
  top: 20px;
}

.button-l {
  min-width: 170px;
  min-height: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button-l::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(170px + 12px);
  min-height: calc(40px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button-l:hover,
.button-l:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button-l:hover::before,
.button-l:focus::before {
  opacity: 1;
}

.button-l::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  
}

.button-l:hover::after,
.button-l:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 170px;
    height: 170px;
    opacity: 0;
  }
}
@media screen and (min-width: 480px) {
  .cat {
    transform: translateX(50%); /* Move the element to the right when the screen is at least 480 pixels wide */
  }
}