#iron-man {
	color: #18272F;
  position: relative;
  text-decoration: none;
}

#iron-man::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .7s ease-in-out;
}

#iron-man:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}