@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.register {

  color: white;
}


.title {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  text-align: center;
}


.form-select{
  width: 80%;
}
.dog {
    
  padding: 2rem 2rem;
  color: black;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1rem );
  -webkit-backdrop-filter: blur( 1rem );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}




.inputbox1 input {
  width: 80%;
  margin-bottom: 3.5rem;
}
.inputbox1 select {
  width: 80%;
  margin-bottom: 3.5rem;
}
.inputbox1 i {
  position: absolute;
  right: 12%;

  font-size: 1.2em;
  top: 20px;
}

