.img3{
    height: 48%;
    overflow: hidden;
}
.card-p{
    height: 30rem;
    width: 23rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    
     
    
}
.card-p:hover{
    transform: scale(1.02);
    box-shadow: 0px opx 15px 0px;
    cursor: pointer;
}
